<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h1>Welcome to voz.subscri.be!</h1>
		<p>
			You have successfully registered to our site,<br/>
		</p>
		<p>
			Please follow <a href="<%= subscribe_subscribers_url %>">this link</a> to subscribe a Voz's user
		</p>
		<p>Thanks you!</p>
	</body>
</html>